.justify_center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.align_center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-flex-item-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* tab样式 */
.mainTab {
  padding: 5px 15px 0px 15px;
  min-width: 1000px;
}
.mainTab > .el-tabs__content {
  height: 100%;
}
.mainTab > .el-tabs__header {
  margin-bottom: 0px;
}

/* 待办任务统计样式 */
.taskTitle {
  height:40px
}
.taskTitle_label {
  font-size: 16px;
  color: #808695;
  /* font-weight: 600; */
}
.untreatedTask {
  color: #FF4858;
  font-size: 26px;
  margin-right: 5px;
  margin-top: -10px;
  /* font-weight: 600; */
}
.treatedTask {
  color: #00CC81;
  font-size: 16px;
  font-weight: 500;
}

/* 搜索栏样式 */
.searchBar {
  width: 300px;
}
.searchBar .el-input__icon.el-icon-search{
  font-size: 14px;
}
.searchBtn {
  background-color: #F4F9FE !important;
  border: 1px solid #1A6BFF !important;
}
.searchBtn > span {
  color: #1A6BFF ;
}

/* grid child vnode样式 */
.iconOpeate {
  cursor: pointer;
  font-size: 20px;
}
.el-divider--vertical{
  font-size: 16px;
  background-color: #E0E4EB
}
.el-tooltip__popper.is-light[x-placement^="top"] .popper__arrow {
  border-top-color: #fff;
}
.el-tooltip__popper.is-light {
  border-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px #e5e5e5;
  -moz-box-shadow: 0px 4px 8px 0px #e5e5e5;
  box-shadow: 0px 4px 8px 0px #e5e5e5;
  box-sizing: border-box;
}
/* 弹出层需要的样式 */
body {
  padding-right: 0px !important;
}
.dialogForm {
  overflow: hidden;
}
.dialogForm .title{
  color: #1D2C4E;
  font-size: 16px;
}
.dialogForm .el-dialog__close {
  color: #1D2C4E !important;
  font-size: 22px;
}
.dialogForm .el-dialog {
  width: 600px;
  margin-top: 12vh !important;
}
.dialogForm .el-dialog__header {
  background-color: #E3F0FE;
  color: #fff;
  padding: 15px 20px 10px;
}
.dialogForm .el-dialog__headerbtn {
  top: 15px;
}
.dialogForm .el-row {
  margin: 0 auto !important;
  padding-left: 10px;
}
.dialogForm .el-icon-check {
  border: 1px solid #7f7f7f;
  border-radius: 20px;
  padding: 4px;
  font-size: 28px;
}
.dialogForm .content {
  text-align: left;
}
.dialogForm .mainForm .name {
  font-size: 30px;
  color: #2d2d2d;
  font-weight: 700;
  margin-right: 10px;
}
.dialogForm .mainForm .code{
  border:1px solid #E8EAEC;
  border-radius: 2px;
  padding: 5px;
}
.dialogForm .label {
  font-size: 14px;
  min-width: 70px;
  text-align: left;
}
.dialogForm .row {
  margin-bottom: 20px;
  text-align: left;
}
.dialogForm .contentGray {
  color: #808695;
}
.dialogForm .contentBlack {
  color: #081129;
}
.dialogForm .gutter {
  margin-right: 10px;
}
.dialogForm .split {
  width: 95%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E8EAEC;
}

.dialogForm .el-textarea__inner{
  overflow: hidden;
  height: 40px;
}
.dialogForm .el-button--primary{
  background-color: #196BFF;
  border-color: #196BFF 
}
.dialogForm .el-button--primary.is-disabled{
  background-color: #B3B6BD  !important;
  border-color: #B3B6BD  !important;
}
.dialogForm .leftFlexGutter {
  margin-left: 15px;
}
.dialogForm .rightFlexGutter {
  margin-right: 15px;
}

/* 错误提示弹出层样式 */
.dialogError .el-dialog {
  width: 400px !important;
  height: 300px !important;
}
.dialogError div {
  text-align: center;
}
/* toast样式 */
.toast {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 45%;
  transition: all 1.5s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background: rgba(17, 17, 17, 0.7);
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  min-width: 100px;
}
.el-table{
  border: 1px solid #EBEEF5;
}
.el-table .el-table__row{
  color:#081129 
}