/* 表头不换行 */
.el-table th > .cell {
  white-space: pre;
}
/* 交替行颜色 */
.el-table--striped .el-table__body tr.el-table__row--striped td{
  background-color: #edf4fc ;
}
/*交替行hover*/
.el-table--striped .el-table__body tr.el-table__row--striped:hover > td {
  background-color: #edf4fc;
}
/*交替行选中后的hover*/
.el-table--striped .el-table__body tr.el-table__row--striped.current-row:hover>td{
  background-color: #B1D6F0;
}
/*交替行选中时的颜色*/
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td{
  background-color: #B1D6F0;
}

/*非交替行颜色*/
.el-table--enable-row-hover .el-table__body tr > td {
  background-color: #fff;
}
/*非交替行hover*/
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #fff;
}
/*非交替行选中后的hover*/
.el-table__body tr.current-row:hover>td{
  background-color: #B1D6F0;
}
/*非交替行选中颜色*/
.el-table__body tr.current-row td{
  background-color: #B1D6F0;
}
/* 选中时升序颜色 */
.el-table .descending .sort-caret.descending {
  border-top-color: #fff;
}
/* 选中时降序颜色 */
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #fff;
}
/* 未选中是升序颜色 */
.el-table .sort-caret.ascending {
  border-bottom-color: #c0c4cccc;
}
/* 未选中时降序颜色 */
.el-table .sort-caret.descending {
  border-top-color: #c0c4cccc;
}
/*多选时默认选中样式*/
.multipleSelect>td{
  background:#B1D6F0 !important;
}
.cellTest{
  background:#B1D6F0 !important;
}
/*添加列头刷新样式*/
.el-table-refresh{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  z-index: 100;
  font-size: 18px;
}