/* 表头不换行 */
.el-table th > .cell {
  white-space: pre;
}
/* 交替行颜色 */
.el-table--striped .el-table__body tr.el-table__row--striped td{
  background-color: #edf4fc ;
}
/*交替行hover*/
.el-table--striped .el-table__body tr.el-table__row--striped:hover > td {
  background-color: #edf4fc;
}
/*交替行选中后的hover*/
.el-table--striped .el-table__body tr.el-table__row--striped.current-row:hover>td{
  background-color: #B1D6F0;
}
/*交替行选中时的颜色*/
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td{
  background-color: #B1D6F0;
}

/*非交替行颜色*/
.el-table--enable-row-hover .el-table__body tr > td {
  background-color: #fff;
}
/*非交替行hover*/
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #fff;
}
/*非交替行选中后的hover*/
.el-table__body tr.current-row:hover>td{
  background-color: #B1D6F0;
}
/*非交替行选中颜色*/
.el-table__body tr.current-row td{
  background-color: #B1D6F0;
}
/*冻结列的hover时的颜色*/
.el-table__body tr.hover-row.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,
.el-table__body tr.hover-row>td{
  background-color:#fff
}
/*冻结列的非交替行选中颜色*/
.el-table__body tr.current-row.hover-row td{
  background-color: #B1D6F0;
}
/*冻结列交替行选中后的hover颜色*/
.el-table--striped .el-table__body tr.el-table__row--striped.current-row.hover-row td{
  background-color: #B1D6F0;
}
/*交替行hover*/
.el-table--striped .el-table__body tr.el-table__row--striped.hover-row td {
  background-color: #edf4fc;
}

/* 选中时升序颜色 */
.el-table .descending .sort-caret.descending {
  border-top-color: #fff;
}
/* 选中时降序颜色 */
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #fff;
}
/* 未选中是升序颜色 */
.el-table .sort-caret.ascending {
  border-bottom-color: #c0c4cccc;
}
/* 未选中时降序颜色 */
.el-table .sort-caret.descending {
  border-top-color: #c0c4cccc;
}
/*多选时默认选中样式*/
.multipleSelect>td{
  background:#B1D6F0 !important;
}
.el-pagination{
  position: relative;
}
/*分页栏首页*/
.pagination_first{
  position:absolute;
  left:-200%
}
.pagination_first>.el-link{
  font-weight:bold
}

.el-table__body-wrapper .el-scrollbar__wrap{
  overflow-x: hidden;
}

.el-table__body-wrapper{
  min-height: 44px;
}
.el-table__body-wrapper .el-scrollbar__bar.is-horizontal{
  z-index: 100;
}

.el-table__body-wrapper .el-scrollbar__bar.is-vertical{
  z-index: 100;  
}


 